<h1>TOPIC 1. Fundamentals</h1>

<h2>1. Printing</h2>

Printing to the console is very simple and intuitive in Python. It can be done using the ```print()``` function.

```print(*objects, sep=' ', end='\n', file=sys.stdout, flush=False)```

The print function can take in any number of objects as input. 

The sep value is used to separate the input objects when printing them.

The end value is used at the end of the print output.

The file value is where the print function outputs to; it is set to the console by default (sys.stdout).

The flush value is set to False by default, meaning it will wait until a line-break, '\n', character is input into the input stream to flush all of the characters in the input stream. 

For the most part, you use the default values for sep, end, file, and flush args, but they can be set to different values.

In [ ]:
# using single or double quotes don't matter
print('1. hello world')
print("2. hello world")

In [ ]:
# printing multiple objects (strings)
print('3. hi,', "I'm", 'Paul.')

In [ ]:
# set the sep value
print('4. hi,', "I'm", 'Paul.', sep='-')

In [ ]:
# set the end value
print('5. let\'s golf.', end=' ')
print('6. bogey boys.')

<h2>2. Comments</h2>

Comments are non-executable strings in code that are used to describe the code. There are two ways to add comments to your code in Python.

```# single-line quotes``` <br>
```""" multi-line quotes """```

<h2>3. Arithmetic</h2>

Python supports a variety of arithmetic operations.

| Operator | Name | Description | 
| :---: | :---: | ---: |
| ```a + b``` | Addition | Sum of <b>a</b> and <b>b</b> |
| ```a - b``` | Subtraction | Difference of <b>a</b> and <b>b</b> |
| ```a * b``` | Multiplication | Product of <b>a</b> and <b>b</b> |
| ```a / b``` | True Division | Quotient of <b>a</b> and <b>b</b> |
| ```a // b``` | Floor Division | Quotient of <b>a</b> and <b>b</b>, removing fractional parts |
| ```a % b``` | Modulus | Integer remainder after division of <b>a</b> and <b>b</b> |
| ```a ** b``` | Exponentiation | <b>a</b> raised to the power of <b>b</b> |
| ```-a``` | Negation | The negative of <b>a</b> |

In [ ]:
# addition
3+5

In [ ]:
# subtraction
10-3

In [ ]:
# multiplication
3*3

In [ ]:
# true division (always returns a float)
7/2

In [ ]:
# floor division (always returns an int)
7//2

In [ ]:
# modulus
5%3

In [ ]:
# exponentiation
2**3

In [ ]:
# negation
-5

<h2>4. Variables</h2>

In programming, it is common to assign values to variables so we can use them later.

<h3>Creating/Assigning Variables</h3>
<ul>
    <li>Variable names cannot contain spaces.</li>
    <li>Variable names can only contain letters, numbers, and underscores.</li>
    <li>Variable names must start with a letter or underscore.</li>
</ul>

In [82]:
# create a variable by assigning it value
var1 = 'hello world'
var2 = str()
var3 = int(5)
var4 = float()
var5 = list()
print(var1, var2, var3, var4, var5, sep='\n')
var1

hello world

5
0.0
[]

'hello world'

<h2>Putting it All Together</h2>

Write a python script that calculates and outputs the number of seconds in 3 years.  Assume 365 days for each year.

In [90]:
# assign variables
num_years = 3
days_per_year = 365
hours_per_day = 24
mins_per_hour = 60
secs_per_min = 60

# calculate the number of years in seconds by multiplying all of the variables together
yrs_in_secs = num_years * days_per_year * hours_per_day * mins_per_hour * secs_per_min

# output to console
print('There are {} seconds in {} years.'.format(yrs_in_secs, num_years))

There are 94608000 seconds in 3 years.

<h1>TOPIC 2. Functions</h1>